*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F0F2F5;
}

form, #btnLog, #btnLog, #btnAccount{
    
}

img{
    width: 69%;
    margin-left: 12%;
}

#leftContainer{
    float: left;
    width: 50%;
    text-align: center;
}

#rightContainer{
    float: right;
    width: 46%;
    margin-left: 2%;
}

.displayBlock {
    display: block;
}

#mainContainer{
    margin-top: 10%;
}

.fbTitle{
    font-size: 40px;
    text-align: start;
    margin-left: 16%;
}

input{
    padding: 20px;
    width: 80%;
    margin: 20px;
    border-radius: 2.2%;
    border: 1px solid #dddfe2;
    outline: none;
}

hr{
    margin-left: 20px;
    margin-right: 35px;
}

form{
    background-color: #fff;
    height: 60vh;
    padding: 2px;
    width: 78%;
    border-radius: 10px;
    box-shadow: 1px 1px 30px #8d8e90;
}

#btnLog{
    background-color: #1877F2;
    padding: 15px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    border-radius: 4px;
}

a{
    width: 82.8%;
    margin-left: 20px;
}

#btnForgot{
    margin-top: 10px;
    padding: 15px;
    width: 60%;
    margin-left: 16%;
    text-align: center;
    text-decoration: none;
    
}

#btnAccount{
    background-color: #42B72A;
    margin-top: 20px;
    padding: 15px;
    width: 40%;
    margin-left: 27%;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}